*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #bababa;
}

.image-size{
	height: 110px;
	width: 110px;
}

header{
	background: black;
}

h1{
	font-family: Asap, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 12px;
	color: white;
	font-size: 40px;
}

.notes{
	font-family: Asap, sans-serif;
	font-weight: bold;
	text-align: center;	
	margin-top: 33px;
	margin-bottom: 5px;
	font-size: 30px;
	color: black;
}

.note1{
	font-family: Asap, sans-serif;
	font-weight: bold;
	text-align: center;
}

.options{
	text-align: center;
	margin-top: 30px;
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: Asap, sans-serif;
	font-size: 25px;
}

.option{
	border: 2px solid black;
	border-radius: 50%;
	padding: 25px;
	display: inline-block;
	margin-bottom: 15px;
	margin-left: 25px;
	margin-right: 25px;
	transition: all 0.5s ease;
}

.start-button{
	text-align: center;
	color: black;
	font-weight: bold;
	font-family: Asap, sans-serif;
	font-size: 25px;
}

.button{
	background-color: gray;
	color: black;
}

.button:hover{
	color : white;
}

img{
	height: 111px;
    width: 120px;
}